<H1>Angular for learning</H1>
<div>
    <a href="https://www.youtube.com/watch?v=KPUmJbTY7Ds&t=20s" target="_blank">Unit-тестирование в
        Angular. Как использовать Jasmine Spy?
    </a>
</div>
<div>
    <a href="https://www.youtube.com/watch?v=Kj9Z4HFWlv4&t=2234s" target="_blank">Как тестировать
        компоненты - Unit-тестирование в Angular
    </a>
</div>
<div>
    <a href="https://www.youtube.com/watch?v=kHAqGpwPFlg" target="_blank">Как тестировать
        асинхронный код в Jasmine - Unit-тестирование в Angular
    </a>
</div>


<app-test-page></app-test-page>
<app-animate></app-animate>
<app-form-builder></app-form-builder>
<app-test-ts></app-test-ts>
