.wrap {}
.container {
    width: 400px;
    height: 400px;
    border: 1px solid blue
}
.inner {
    background: grey;
    width: 50%;
    height: 50%;
    color: green;
    font-size: 20px;
}

.container:hover .inner {
    animation-name: move-circle;
    animation-duration: 900ms;
    animation-timing-function: ease;
    animation-fill-mode: forwards;
    animation-iteration-count: 3;
    animation-direction: reverse;
    animation-delay: 1s;
    background: orange;
}
@keyframes  move-circle {
    0% { transform: translateX(0%) translateY(0%);
    }
    25% {  transform: translateX(100%) translateY(0%);
    }
    50% {transform: translateY(100%) translateX(100%);
    }
    75% {
        transform: translateY(100%) translateX(0%);
        border-radius: 0;
    }
    100% {
        transform: translateY(0%) translateX(0%);
        border-radius: 50%;
    }


}
